
/* nav bar */
.navbar-default .navbar-brand{
  color: #FFF;
  font-family: Verdana;
}

.navbar-default {
    background-color: #2D602E !important;
}

/* side panel */
.side {
  background-color: #FFF;
  border: none;
} 

/* map side panel */
#map_sidebar {
  margin-right: 10px;
  margin-bottom: 10px;
}

.sidebar-header{
  background-color: #33862B !important;
}

.sidebar-tabs > li.active, .sidebar-tabs > ul > li.active {
  background-color: #33862B !important;
}

.basemap-controls{
  position: absolute;
  top: 5px;
  left: 60px;
  width: 135px;
}

.basemap-title {
  z-index: 9999;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: -20px;
  padding: 5px 0px;
  background-color: #FFF;
}

#property {
  font-weight: 800;
  font-family: Verdana;
  text-align: center;
  font-size: 16px;
  margin-top: 18px;
}
